[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
werkzeug = "*"
flask_sqlalchemy = "*"
"flask-smorest" = "*"
flask-jwt-extended = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
mypy = "*"
importmagic = "*"
epc = "*"
pytest-xdist = "*"
watchdog = "*"
ipdb = "*"
mypy_extensions = ">=0.4.1"
black = "*"
pre-commit = "*"
pyls-isort = "*"
pyls-mypy = "*"
pyls-black = "*"
flask-shell-ipython = "*"
pytest-factoryboy = "*"
twine = "*"
bento-cli = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
